* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: 95;
  max-width: 1280px;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center; }
  img .img-carousel {
    width: 95%;
    max-width: 1280px;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center; }

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373; }
  .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5; }
    .site-footer hr .small {
      margin: 20px 0; }
      .site-footer hr .small h6 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px; }
        .site-footer hr .small h6 a {
          color: #737373; }
          .site-footer hr .small h6 a :hover {
            color: #3366cc;
            text-decoration: none; }

@media (max-width: 991px) {
  .redes-footer [class^=col-] {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .redes-footer {
    padding-bottom: 0; }
  .redes-footer .copyright-text, .site-footer .social-icons {
    text-align: center; } }

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none; }

.footer-links.inline li {
  display: inline-block; }

.footer-links {
  padding-left: 0;
  list-style: none; }
  .footer-links .li {
    display: block; }
    .footer-links .li .a {
      color: #737373; }

.redes-footer a:active, .redes-footer a:focus, .redes-footer a:hover {
  color: #fff;
  background-color: #3b3737; }

.redes-footer {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .redes-footer .li {
    display: inline-block;
    margin-bottom: 4px; }
    .redes-footer .li .a {
      background-color: #eceeef;
      color: #818a91;
      font-size: 16px;
      display: inline-block;
      line-height: 44px;
      width: 44px;
      height: 44px;
      text-align: center;
      margin-right: 8px;
      border-radius: 100%; }

.redes-footer a.facebook:hover {
  background-color: #3b5998; }

.redes-footer a.twitter:hover {
  background-color: #00aced; }

.redes-footer a.youtube:hover {
  background-color: #ca0c0c; }

.redes-footer a.instagram:hover {
  background-color: #ea4c89; }
